
* {

    margin: 0;
    padding: 0;
}

.blue{
    background-color: #4682b4;
}

.green{
    background-color: #317f43;
}
.greenSpecial{
    background-color: #3fa055
}

.orange{
    background-color:#b97d4b;
}

.red{
    background-color: #cc0000;
}

.yellow{
    background-color: yellow;
}
.purple{
    background-color: #9932CC;
}

.whiteText h1{
    color: white;
}

.whiteText h2{
    color: white;
}

.whiteText p{
    color: white;
}
/*--------------------- Navbar CSS ---------------------*/

/* .navbar OUDE {

    display: flex;
    justify-content: space-evenly;
    justify-items: baseline;
    background-color: #317f43;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
    font-family: 'LatoMedium', sans-serif;

}

a {

    text-decoration: none;
    color: white;
    padding-top: 10px;
}

.navbar img{
    margin-right: 1100px;
} */

/* The navigation menu */


.navbar {
    padding: 10px;
    overflow: hidden;
    background-color: #317f43;
    font-family: 'LatoMedium', sans-serif;
    border-bottom: 2px solid black;
  }

  .logonav{
      display: inline;
  }
  /* Navigation links */
  .navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'LatoMedium', sans-serif;
  }

  /* The subnavigation menu */
  .subnav {
    float: right;
    overflow: hidden;
  }

  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #3fa055;
  }

  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #3fa055;
    width: 100%;
    z-index: 1;
  }

  /* Style the subnav links */
  .subnav-content a {
    float: right;
    color: white;
    text-decoration: none;
  }

  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }

  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }






/* Datum & Tijd */
.time h1 {
    position: absolute;
    top: 68px;
    right: 0px;
    font-family: 'LatoMedium', sans-serif;
    margin: 0 auto;
    font-size: 15px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e9b54;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;

}

/*--------------------- Footer CSS ---------------------*/

/* .footer {
    border-top: 2px solid black;
    background-color: #317f43;
    text-align: center;

} */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #317f43;
    color: white;
    text-align: center;
    border-top: 2px solid black;
  }

 .footer-text {
    font-family: 'LatoMedium', sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    text-align: center;
}

/* container */

.container{
    width: 968px;
    margin:auto;
}

.container h1{
    font-size: 50px;
}

.container h2{
    font-size: 28px;
}

.container p{
    font-size: 20px;
}

/* bohemianRhapsody */

.songtext p{
    font-family: 'LatoMedium', sans-serif;
    color: white;
}

.songtext h1{
    margin-top: 30px;
    font-family: 'LatoMedium', sans-serif;
    color: white;
    margin-bottom: 20px;
}

.bohemianRhapsody{
    padding-top:20px ;
    padding-bottom:20px;
    text-align: justify;
    line-height:35px

}

/* plugInBaby */

.plugInBaby{
    padding-top: 20px;
}

/* boeken */

.books h1{
    font-family: 'LatoMedium', sans-serif;
    margin-top: 30px;
}

.books h2{
    font-family: 'LatoMedium', sans-serif;
    margin-top: 20px;
}

.books p{
    font-family: 'LatoMedium', sans-serif;
    margin-top: 20px;
}

/* dalton */

.dalton{
    color: white;
}

.dalton h1{
    font-family: 'LatoMedium', sans-serif;
    padding-top: 20px;
}

.dalton h2{
    font-family: 'LatoMedium', sans-serif;
    margin-top: 20px;
}

.dalton h3{
    font-family: 'LatoMedium', sans-serif;
    margin-top: 20px;
}

.dalton p{
    font-family: 'LatoMedium', sans-serif;
    margin-top: 20px;
}

/* general */

.general{
    color: black;
}

.general h1{
    font-family: 'LatoMedium', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.general h2{
    font-family: 'LatoMedium', sans-serif;
    margin-top: 20px;
}

.general h3{
    font-family: 'LatoMedium', sans-serif;
    margin-top: 20px;
}

.general p{
    font-family: 'LatoMedium', sans-serif;
    margin-top: 20px;
}

/* streaming */

.streaming a{
    color:black;
    font-family: 'LatoMedium', sans-serif;
}
#Roger-Moore-Foto{
    position: absolute;
    right: 500px;
    top: 175px;
    box-shadow: 2px 2px 3px 1px #888888;
}
/* index */

.container{
    font-family: 'LatoMedium', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    margin-top: 120px;
}

.tabelHomePage{
    display: flex;
    justify-content: center;
}

#homePageTable {
    display: flex;
    justify-content: center;
    margin-left:5px;
    margin-top: 15px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 300px;
    height: 25px;
  }

  #homePageTable td, #homePageTable th {
    border: 1px solid #ddd;
    padding: 4px;

  }

  #homePageTable tr:nth-child(even){background-color: #f2f2f2;}

  #homePageTable th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }


  /* split */
  .row{
    display: flex;
  }

  .column{
      flex: 50%;
      padding: 50px;
      margin-bottom: 20px;
  }

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

/* Dranken */ 
.warmeDranken 
{ 
    color: white; 
} 
.frisDranken
{ 
    color: white; 
}