
* {

    margin: 0;
    padding: 0;
}


/*--------------------- Navbar CSS ---------------------*/

.navbar {

    display: flex;
    justify-content: space-evenly;
    justify-items: baseline;
    background-color: #317f43;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
}

a {

    text-decoration: none;
    color: white;
    padding-top: 10px;
}

.navbar img{
    margin-right: 1100px;
}

/* Datum & Tijd */
.time h1 {
    margin: 0 auto;
    margin-top: 40px;
    font-size: 25px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    position: relative;
    left: 600px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;


}


/* container */

.container{
    width: 968px;
    margin:auto;
}

.container h1{
    font-size: 50px;
}

.container h2{
    font-size: 28px;
}

.container p{
    font-size: 20px;
}

/* bohemianRhapsody */

.songtext p{
    font-family: 'LatoMedium', sans-serif;
    color: white;
}

.songtext h1{
    font-family: 'LatoMedium', sans-serif;
    color: white;
    margin-bottom: 20px;
}

.backgroundBlue{
    background-color: blue;
    height: 100%;
}

.bohemianRhapsody{
    padding-top:20px ;
    padding-bottom:20px;
}

/* plugInBaby */

.backgroundOrange{
    background-color:  #b97d4b;
    height: 100%;
}

.plugInBaby{
    padding-top: 20px;
    padding-bottom: 323px;
}

/* boeken */

.books h1{
    font-family: 'LatoMedium', sans-serif;
    margin-top: 20px;
}

.books h2{
    font-family: 'LatoMedium', sans-serif;
    margin-top: 20px;
}

.books p{
    font-family: 'LatoMedium', sans-serif;
    margin-top: 20px;
}

/* dalton */

.dalton{
    color: white;
}

.dalton h1{
    font-family: 'LatoMedium', sans-serif;
    padding-top: 20px;
}

.dalton h2{
    font-family: 'LatoMedium', sans-serif;
    margin-top: 20px;
}

.dalton p{
    font-family: 'LatoMedium', sans-serif;
    margin-top: 20px;
}

.backgroundcolorGreen{
    background-color:#317f43;
    height: 100%;
}

.daltonLastP{
    padding-bottom: 477px;
}